<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <script src="/Script/jquery-1.9.1.js"></script>
    <script src="/Script/bootstrap.js"></script>
</head>
<body>
    <form role="form">
        <h3>Example</h3>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="" />
                remember password
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="optionRadios" id="optionRadio1" value="love" checked />
                like
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="optionRadios" id="optionRadio2" value="dislike" />
                dislike
            </label>
        </div>

        <div class="form-group">
            <div class="col-xs-6">
                <input class="form-control input-lg" type="text" placeholder="blur effect" />
            </div>
            <div class="col-xs-6">
                <input class="form-control input-lg" type="text" placeholder="focus effect" />
            </div>
        </div>
        
    </form>
</body>
</html>
