<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <script src="/Script/jquery-1.9.1.js"></script>
    <script src="/Script/bootstrap.js"></script>
</head>
<body>
    <div class="col-md-offset-2">
        Bootstrap的code代码风格
        <code>&lt;code&gt;</code>
        <code>&lt;pre&gt;</code>
        <code>&lt;kbd&gt;</code>
    </div>
    <div>
        <pre class="pre-scrollable">
            &lt;ul&gt;
            &lt;li&gt;...&lt;/li&gt;
            &lt;li&gt;...&lt;/li&gt;
            &lt;li&gt;...&lt;/li&gt;
            &lt;li&gt;...&lt;/li&gt;
            &lt;/ul&gt;
        </pre>
    </div>
    <div>
        请输入<kbd>crtl+c</kbd>来复制代码，然后使用<kbd>ctrl+v</kbd>来粘贴代码
    </div>
</body>
</html>
