<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <script src="/Script/jquery-1.9.1.js"></script>
    <script src="/Script/bootstrap.js"></script>
</head>
<body>
    <h3>example</h3>
    <form role="form" class="form-horizontal">
        <div class="form-group">
            <div class="col-xs-6">
                <input type="text" class="form-control input-lg" placeholder="不是焦点状态下效果" />
            </div>
            <div class="col-cs-6">
                <input type="text" class="form-control input-lg" disabled placeholder="表单已经被禁用不可输入" />
            </div>
        </div>
    </form>
    <br />
    <br />
    <br />
    <h3>example2</h3>
    <form role="form">
        <fieldset disabled>

        </fieldset>
    </form>
</body>
</html>
