<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <link rel="stylesheet" href="/Content/bootstrap.css" />
    <script src="/Scripts/jquery-1.9.1.js"></script>
    <script src="/Scripts/bootstrap.js"></script>
</head>
<body>
    <div class="btn-group-vertical">
        <button class="btn btn-default" type="button">首页</button>
        <button class="btn btn-default" type="button">产品展示</button>
        <button class="btn btn-default" type="button">案例分析</button>
        <button class="btn btn-default" type="button">联系我们</button>
        <div class="btn-group">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
                关于我们<span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">公司简介</a></li>
                <li><a href="#">企业文化</a></li>
                <li><a href="#">组织机构</a></li>
                <li><a href="#">客服服务</a></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="btn-toolbar">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default">首页</button>
                        <button type="button" class="btn btn-default">产品展示</button>
                        <button type="button" class="btn btn-default">案例分析</button>
                        <button type="button" class="btn btn-default">联系我们</button>
                        <div class="btn-group">

                            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                联系我们
                                <span class="glyphicon glyphicon-triangle-bottom"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="##">公司简介</a></li>
                                <li><a href="##">企业文化</a></li>
                                <li><a href="##">组织结构</a></li>
                                <li><a href="##">客服服务</a></li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="btn-wrap">
        <div class="btn-group btn-group-justified">
            <a class="btn btn-default" href="#">首页</a>
            <a class="btn btn-default" href="#">产品展示</a>
            <a class="btn btn-default" href="#">案例分析</a>
            <a class="btn btn-default" href="#">联系我们</a>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">

                <div class="btn-group btn-group-justified">
                    <a class="btn btn-default" href="#">首页</a>
                    <a class="btn btn-default" href="#">产品展示</a>
                    <a class="btn btn-default" href="#">案例分析</a>
                    <a class="btn btn-default" href="#">联系我们</a>
                </div>


            </div>
        </div>
    </div>
</body>
</html>
