<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <script src="/Script/jquery-1.9.1.js"></script>
    <script src="/Script/bootstrap.css"></script>
</head>
<body>
    <form role="form">
        <div class="form-group has-success has-feedback">
            <label class="control-label" for="inputSuccess"></label>
            <input type="text" id="inputSuccess" class="form-control" placeholder="Success State"/>
            <span class="help-block">input correct</span>
            <span class="glyphicon-ok form-control-feedback"></span>
        </div>
    </form>
</body>
</html>
