<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <script src="/Script/jquery-1.9.1.js"></script>
    <script src="/Script/bootstrap.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img alt="140x140" src="http://placehold.it/140x140" />
                <div>默认图片</div>
            </div>
            <div class="col-md-4">
                <img alt="140x140" class="img-rounded" src="http://placehold.it/140x140" />
                <div>圆角图片</div>
            </div>
            <div class="col-md-4">
                <img alt="140x140" class="img-circle" src="http://placehold.it/140x140" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img alt="140x140" class="img-thumbnail" src="http://placehold.it/140x140" />
                <div>缩略图</div>
            </div>
            <div class="col-md-6">
                <img alt="140x140" class="img-responsive" src="http://placehold.it/140x140"/>
                <div>响应图</div>
            </div>
        </div>
    </div>
</body>
</html>
