<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <script src="/Script/jquery-1.9.1.js"></script>
    <script src="/Script/bootstrap.js"></script>
</head>
<body>
    <ul class="list-inline">
        <li>无序列表项目</li>
        <li>无序列表项目</li>
        <li>无序列表项目</li>
        <li>无序列表项目</li>
        <li>无序列表项目</li>
    </ul>
    <ul class="list-unstyled">
        <li>无序列表项目</li>
        <li>无序列表项目</li>
        <li>无序列表项目</li>
        <li>无序列表项目</li>
        <li>无序列表项目</li>
    </ul>
    <br />
    <ol>
        <li>有序列表项目</li>
        <li>有序列表项目</li>
        <li>有序列表项目</li>
        <li>有序列表项目</li>
    </ol>
    <br />
    <ol>
        <li>有序列表</li>
        <li>
            <ol>
                <li>有序列表2</li>
                <li>有序列表2</li>
            </ol>
        </li>
        <li>有序列表</li>
    </ol>
</body>
</html>
