<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <link rel="stylesheet" href="/Content/bootstrap.css" />
    <script src="/Scripts/jquery-1.9.1.js"></script>
    <script src="/Scripts/bootstrap.js"></script>
</head>
<body>
    <div class="dropdown">
        <button type="button" class="btn btn-default dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
            dropdownmenu
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation" class="dropdown-header">菜单头部</li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">dropdownmenuitem</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">dropdownmenuitem</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">dropdownmenuitem</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation" class="dropdown-header">菜单2头部</li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">dropdownmenuitem</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">dropdownmenuitem</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">dropdownmenuitem</a></li>
        </ul>
    </div>

    <div class="dropdown">
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
            select item
        </button>
        <ul class="dropdown-menu">
            <li class="dropdown-header">sports</li>
            <li class="active"><a href="javascript:void(0)">football</a></li>
            <li><a href="javascript:void(0)">basketball</a></li>
            <li class="disabled"><a href="javascript:void(0)">volleyball</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">fruits</li>
            <li><a href="javascript:void(0)">apple</a></li>
            <li><a href="javascript:void(0)">pear</a></li>
            <li><a href="javascript:void(0)">peach</a></li>
        </ul>
    </div>
</body>
</html>
