<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <script src="/Script/jquery-1.9.1.js"></script>
    <script src="/Script/bootstrap.js"></script>
</head>
<body>
    <p>
        华盛顿大学和清华大学共同在西雅图发起了一个合作办学项目，关注科技和设计进步。对中美两国来说，技术近年来已经是关键点。本项目由微软出资 4000 万美元赞助。
    </p>
    <p class="lead">
        华盛顿大学和清华大学共同在西雅图发起了一个合作办学项目，关注科技和设计进步。对中美两国来说，技术近年来已经是关键点。本项目由微软出资 4000 万美元赞助
    </p>
    <p class="text-left text-danger">我在左</p>
    <p class="text-center">我在中</p>
    <p class="text-right text-success">我在右</p>
    <p class="text-justify">这个强调动手、项目主导的合作项目将首先提供科技方面的硕士学位，过几年会提供其他学位。未来其他学校和公司也可以加入此项目，按计划在 2025 年要招入超过 3000 名学生.华盛顿大学的临时校长 Ana Mari Cauce 表示：“我们和清华大学在这些年里一直有相关合作，但这次合作办学将把我们的关系推向一个新的高度。其他合作项目涉及到华盛顿地区的法律学校和放射学部门</p>
    <div class="text-muted">.text-muted效果,变淡的文本</div><br />
    <div class="text-primary">.text-primary效果，主要</div><br />
    <div class="text-capitalize">.text-captitalieze效果</div><br />
    <div class="text-center">.text-center效果</div><br />
    <div class="text-danger">.text-danger效果</div><br />
    <div class="text-hide">.text-hide效果</div><br />
    <div class="text-info">.text-info效果</div><br />
    <div class="text-justify">text-justify效果</div><br />
    <div class="text-right">.text-right</div><br />
    <div class="text-success">.text-success效果</div><br />
    <div class="text-warning">.text-warning效果</div><br />
</body>
</html>
